{% import _self as formMacros %}

{% macro print(item) %}
    <div class="js-holder-item">
        <a href="#" class="js-item-remove pull-right">
            <span class="fa fa-close"></span>
        </a>
        {{ form_errors(item) }}

        {% if item.number is defined %}
            {{ form_row(item.number) }}
        {% else %}
            {{ form_row(item.address) }}
        {% endif %}
    </div>
{% endmacro %}

{{ form_start(form, {'attr': {'class': 'js-company-module'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="form-row align-items-center">
            <div class="col-4">
                {{ form_row(form.city, {'id': 'company-city', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-4">
                {{ form_row(form.name, {'id': 'company-name', 'attr': {'class': 'form-control, form-control-sm'}}) }}
            </div>
            <div class="col-4">
                {{ form_row(form.syte, {'id': 'company-syte', 'attr': {'class': 'form-control, form-control-sm'}}) }}
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-4">
                {{ form_row(form.preview, {'id': 'company-info', 'attr': {'class': 'form-control', 'cols': '5', 'rows': '7'}}) }}
            </div>
            <div class="col-4">
                {{ form_row(form.bank, {'id': 'company-bank', 'attr': {'class': 'form-control', 'cols': '5', 'rows': '7'}}) }}
            </div>
            <div class="col-4">
                {{ form_row(form.address, {'id': 'company-address', 'attr': {'class': 'form-control', 'cols': '5', 'rows': '7'}}) }}
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="col-4">
                <img src="{{vich_uploader_asset (company, 'file', 'App\\Entity\\Client\\Company')}}"width="110" height="110">
                {{ form_row(form.file, {'id': 'company-logotype', 'attr': {'class': 'custom-file-input'}}) }}
            </div>
            <div class="col-4">
                {{ form_row(form.sections, {'id': 'company-sections', 'attr': {'class': 'custom-control custom-checkbox'}}) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-2 js-collection-holder" data-prototype="{{ formMacros.print(form.phones.vars.prototype)|e('html_attr') }}" data-index="{{ form.phones|length }}">
                {% for phone in form.phones %}
                    {{ formMacros.print(phone) }}
                {% endfor %}
                    <a href="#" class="js-item-new">
                        <span class="fa fa-plus-circle"></span>
                        Добавить телефон
                    </a>
            </div>
            <div class="col-3 js-collection-holder" data-prototype="{{ formMacros.print(form.emails.vars.prototype)|e('html_attr') }}" data-index="{{ form.emails|length }}">
                {% for email in form.emails %}
                    {{ formMacros.print(email) }}
                {% endfor %}
                    <a href="#" class="js-item-new">
                        <span class="fa fa-plus-circle"></span>
                        Добавить email
                    </a>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>

{{ form_end(form) }}