{% extends 'base.html.twig' %}

{% block title %}Редактировать компанию{% endblock %}

{% block body %}

    <div class="container">

        <h4>Редактировать компанию {{ company.name }}</h4>

        {{ include('client/company/_form.html.twig') }}
        {{ include('client/company/_delete_form.html.twig') }}

        <a href="{{ path('client_price_index', {'id': company.id}) }}">Загрузить прайс</a>
        <br>
        <a href="{{ path('client_company_index') }}">Назад</a>

    </div>

{% endblock %}