{% extends 'base.html.twig' %}

{% block title %}Company1 index{% endblock %}

{% block body %}
    <h1>Company1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company1 in company1s %}
            <tr>
                <td>{{ company1.id }}</td>
                <td>{{ company1.name }}</td>
                <td>{{ company1.createdAt ? company1.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_company1_show', {'id': company1.id}) }}">show</a>
                    <a href="{{ path('client_company1_edit', {'id': company1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_company1_new') }}">Create new</a>
{% endblock %}