{% extends 'base.html.twig' %}

{% block title %}Продавцы{% endblock %}

{% block body %}

    <div class="container">

        <h1>Продавцы</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Название компании</th>
                <th>Дата регестрации</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for company in companys %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('client_company_show', {'id': company.id}) }}">Показать</a>
                        {#<a href="{{ path('client_company_edit', {'id': company.id}) }}">Редактировать</a>#}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Продавцов нет</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}