{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {#<link href="{{ asset('build/js/appFileupload.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block body %}

    <div class="container">

        {#{{ form_start(form, {'action': path('client_price_index', {'id': company.id}), 'method': 'POST'}) }}#}

            {#{{ form_row(form.path) }}#}

            {#<div>#}
                {#<button type="submit">Загрузить прайс</button>#}
            {#</div>#}

        {#{{ form_end(form) }}#}

        <form id="fileupload" method="POST" action="{{ oneup_uploader_endpoint('gallery') }}" enctype="multipart/form-data">
            <div id="drop">
                Drop Here

                <a>Загрузить</a>
                <input id="attr-fileupload" type="file" name="upl" data-company="{{ company.id }}" data-user="{{ company.user.id }}" multiple>
            </div>

            <ul></ul>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/appFileupload.js') }}"></script>
{% endblock %}