{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('build/js/appFileupload.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container">

        {#{{ form_start(form, {'action': path('client_price_index', {'id': company.id}), 'method': 'POST'}) }}#}

            {#{{ form_row(form.path) }}#}

            {#<div>#}
                {#<button type="submit">Загрузить прайс</button>#}
            {#</div>#}

        {#{{ form_end(form) }}#}

        <form id="fileupload" method="post" enctype="multipart/form-data">
            <div id="drop">
                <a>Загрузить</a>
                <input type="file" name="upl" multiple />
            </div>

            <ul></ul>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/appFileupload.js') }}"></script>
{% endblock %}