{% trans_default_domain 'FOSUserBundle' %}

<h4>Регистрация</h4>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.firstName, {'id': 'register_first_name', 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.email, {'id': 'register_email', 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword.first, {'id': 'register_first_password', 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword.second, {'id': 'register_second_password', 'attr': {'class': 'form-control'}}) }}

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </div>
{{ form_end(form) }}