{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-3">
            {{ form_row(form.brand, {'id': 'part-brand', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.model, {'id': 'part-model', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.carcase, {'id': 'part-carcase', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.engine, {'id': 'part-engine', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_row(form.oem, {'id': 'part-oem', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>

        <div class="col-3">
            {{ form_row(form.name, {'id': 'part-name', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.company, {'id': 'part-company', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.city, {'id': 'city', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
{{ form_end(form) }}