{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-part-module">

        {{ include('/part/_form.html.twig') }}

        {% if parts %}
            <div class="navigator">
                {{ knp_pagination_render(parts) }}
            </div>

            {% for part in parts %}
                <div class="row">
                    <div class="col-2">
                        {% if part.image %}
                            {% set images = part.image|json_decode %}

                            {% if images %}
                                <img src="/images/{{ images[0] }}" width="110" height="110">
                            {% else %}
                                <img src="#" width="110" height="110">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <a href="{{ path('part_show', {'id': part.id}) }}" target="_blank">
                            {% if part.name %}
                                {{ part.name }}
                            {% endif %}
                            {% if part.brand %}
                                {{ part.brand }}
                            {% endif %}
                            {% if part.model %}
                                {{ part.model }}
                            {% endif %}
                            {% if part.oems %}
                                {% for oem in part.oems %}
                                    {{ oem.name }} {% if part.oems|last != oem %} , {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-3">
                        {% if part.engines %}
                            {% for engine in part.engines %}
                                {{ engine.name }} {% if part.engines|last != engine %} , {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if part.carcase %}
                            {{ part.carcase.name }}
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {% if part.company %}
                            {{ part.company.name }} {% if part.city %} / {{ part.city.name }} {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {% if part.price %}
                            {{ part.price }} руб.
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {{ part.updatedAt|date('d-m-Y H:i') }}
                        <br>
                        {% if part.availability %}
                            {{ part.availability.name }}
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endfor %}

            <div class="navigator">
                {{ knp_pagination_render(parts) }}
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}