{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="form-row">
            <div class="col-3">
                {{ form_row(form.first_name, {'id': 'first-name', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.username, {'id': 'username', 'attr': {'class': 'form-control, form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.phone, {'id': 'user-phone', 'attr': {'class': 'form-control, form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.city, {'id': 'user-city', 'attr': {'class': 'form-control, form-control-sm'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/images/{{ user.avatar }}" width="110" height="110">
                {{ form_row(form.avatar, {'id': 'user-avatar', 'attr': {'class': 'custom-file-input '}}) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
{{ form_end(form) }}
