{% extends 'base.html.twig' %}

{% block title %}Объявления{% endblock %}

{% block body %}

    <div class="container">

        <h4>Объявления</h4>

        {% if tyres %}

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Дата</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tyre in tyres %}
                        <tr>
                            <td>{{ tyre.id }}</td>
                            <td>
                                Шины
                                {% if tyre.brand %}
                                    {{ tyre.brand.name }}
                                {% endif %}
                                {% if tyre.width %}
                                    {{ tyre.width }}
                                {% endif %}
                                {% if tyre.height %}
                                    / {{ tyre.height }}
                                {% endif %}
                                {% if tyre.diameter %}
                                    / {{ tyre.diameter }}
                                {% endif %}
                                {% if tyre.model %}
                                    {{ tyre.model.name }}
                                {% endif %}
                                <br>
                                {% if tyre.quantity %}
                                    Комплект {{ tyre.quantity }} шт.
                                {% endif %}
                            </td>
                            <td>{{ tyre.updatedAt|date('d-m-Y H:i') }}</td>
                            <td>
                                <a href="{{ path('tyre_show', {'id': tyre.id}) }}" target="_blank">Показать</a>
                                <a href="{{ path('tyre_edit', {'id': tyre.id}) }}">Редактировать</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Объявлений нет</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>

        {% endif %}

        <a href="{{ path('auth_user_personal', {'id': user.id}) }}">Назад</a>

    </div>

{% endblock %}