{% extends 'base.html.twig' %}

{% block title %}Мои объявления{% endblock %}

{% block body %}

    <div class="container js-declaration-module">

        {% if declarations %}

            <div class="count">
                <h4>Найдено объявлений {{ declarations.getTotalItemCount }}</h4>
            </div>

            <div class="navigator">
                {{ knp_pagination_render(declarations) }}
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Раздел</th>
                        <th>Дата</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in declarations %}
                        <tr>
                            <td>{{ declaration.id }}</td>
                            <td>
                                {% if declaration.module %}
                                    {% if declaration.module == 1 %}
                                        Диски
                                    {% elseif declaration.module == 2 %}
                                        Шины
                                    {% elseif declaration.module == 3 %}
                                        Запчасти
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if declaration.updated_at %}
                                    {{ declaration.updated_at }}
                                {% endif %}
                            </td>
                            <td>
                                {% if declaration.module == 1 %}
                                    <a href="{{ path('part_show', {'id': declaration.id}) }}" target="_blank">Показать</a>
                                    {#<a href="{{ path('part_edit', {'id': declaration.id}) }}">Редактировать</a>#}
                                {% elseif declaration.module == 2 %}
                                    <a href="{{ path('tyre_show', {'id': declaration.id}) }}" target="_blank">Показать</a>
                                    <a href="{{ path('tyre_edit', {'id': declaration.id}) }}">Редактировать</a>
                                {% elseif declaration.module == 3 %}
                                    <a href="{{ path('drive_show', {'id': declaration.id}) }}" target="_blank">Показать</a>
                                    <a href="{{ path('drive_edit', {'id': declaration.id}) }}">Редактировать</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(declarations) }}
            </div>

        {% endif %}

        <a href="{{ path('auth_user_personal') }}">Назад</a>

    </div>

{% endblock %}