{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container">

        {{ form_start(form, {'action': path('part_render'), 'method': 'GET'}) }}
            {{ form_row(form.price) }}
            {{ form_row(form.name) }}



            {#{{ form_row(form.brand) }}#}
            {#{{ form_row(form.model) }}#}
            {#{{ form_row(form.engine) }}#}
            {#{{ form_row(form.part) }}#}

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        {{ form_end(form) }}

        {% if spares %}
            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название запчасти</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spare in spares %}
                        <tr>
                            <td>{{ spare.name }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}