{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container">

        {{ form_start(form, {'action': path('part_render'), 'method': 'GET', 'attr': {'id': 'form'}}) }}
            {{ form_row(form.brand, {'id': 'brand', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.brand) }}

            {{ form_row(form.name, {'id': 'model', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}

            {{ form_row(form.engines) }}
            {{ form_errors(form.engines) }}

            {{ form_row(form.parts) }}
            {{ form_errors(form.parts) }}

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        {{ form_end(form) }}

        {% if spares %}
            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название запчасти</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spare in spares %}
                        <tr>
                            <td>{{ spare.name }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}