{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container">

        {{ form_start(form, {'action': path('part_render'), 'method': 'GET', 'attr': {'id': 'form'}}) }}
            {#{{ form_row(form.city, {'id': 'city', 'attr': {'class': 'form-control'}}) }}#}
            {#{{ form_errors(form.city) }}#}

            {{ form_row(form.brands, {'id': 'brand', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.brands) }}

            {{ form_row(form.models, {'id': 'model', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.models) }}

            {{ form_row(form.carcases, {'id': 'carcase', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.carcases) }}

            {{ form_row(form.engines) }}
            {{ form_errors(form.engines) }}

            {#{{ form_row(form.parts) }}#}
            {#{{ form_errors(form.parts) }}#}

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        {{ form_end(form) }}

        {{ dump(spares) }}

        {% if spares %}
            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название / OEM</th>
                        <th>Расп. / Двиг. / Куз.</th>
                        <th>Продавец / Город</th>
                        <th>Цена</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spare in spares %}
                        {% for part in spare.parts %}
                            <tr>
                                <td>
                                    {{ part.name }} на {{ spare.brand }} {{ spare.name }}
                                    {#кузов #}{#{{ spare.carcases.name }}#}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(spares) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}