{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container">

        {{ form_start(form) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.name, {'id': 'add_company_name', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.city, {'id': 'add_company_city', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.city) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.info, {'id': 'add_company_info', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.info) }}
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    {{ form_row(form.sectionsParts, {'id': 'add_company_sections_parts', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sectionsParts) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.sectionsTyres, {'id': 'add_company_sections_tyres', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sectionsTyres) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.sectionsDrives, {'id': 'add_company_sections_drives', 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sectionsDrives) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        {{ form_end(form) }}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}