{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <div class="row">
            <div class="col-3">
                {{ form_row(form.brand, {'id': 'tyre-new-brand', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.model, {'id': 'tyre-new-model', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-2">
                {{ form_row(form.thorn, {'id': 'tyre-new-thorn', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-2">
                {{ form_row(form.seasonality, {'id': 'tyre-new-seasonality', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                {{ form_row(form.width, {'id': 'tyre-new-width', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-1">
                {{ form_row(form.height, {'id': 'tyre-new-height', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-1">
                {{ form_row(form.diameter, {'id': 'tyre-new-diameter', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-1">
                {{ form_row(form.quantity, {'id': 'tyre-new-quantity', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.company, {'id': 'tyre-new-company', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.city, {'id': 'tyre-new-city', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form_row(form.price, {'id': 'tyre-new-price', 'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.picture, {'id': 'tyre-new-picture', 'attr': {'class': 'custom-file-input form-control-sm'}}) }}
            </div>
        </div>

        <div class="btn-group btn-group-toggle">
            {{ form_row(form.availability, {'id': 'tyre-new-availability'}) }}
        </div>
        <div class="btn-group btn-group-toggle">
            {{ form_row(form.condition, {'id': 'tyre-new-condition'}) }}
        </div>

        {#<div class="btn-group btn-group-toggle" data-toggle="buttons">#}
        {#<label class="btn btn-secondary active">#}
        {#<input type="radio" name="options" id="option1" autocomplete="off" checked> Active#}
        {#</label>#}
        {#<label class="btn btn-secondary">#}
        {#<input type="radio" name="options" id="option2" autocomplete="off"> Radio#}
        {#</label>#}
        {#<label class="btn btn-secondary">#}
        {#<input type="radio" name="options" id="option3" autocomplete="off"> Radio#}
        {#</label>#}
        {#</div>#}

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Применить</button>
        </div>
    </div>
{{ form_end(form) }}