{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-tyre-module">

        {{ include('/tyre/_form.html.twig') }}

        {% if tyres %}

            <div class="count">
                <h4>Найдено объявлений {{ tyres.getTotalItemCount }}</h4>
            </div>

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>

            {% for tyre in tyres %}
                <div class="row">
                    <div class="col-2">
                        {% if tyre.image %}
                            {% set images = tyre.image|json_decode %}

                            {% if images %}
                                <img src="/images/{{ images[0] }}" width="110" height="110">
                            {% else %}
                                <img src="#" width="110" height="110">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <a href="{{ path('tyre_show', {'id': tyre.id}) }}" target="_blank">
                            Шины
                            {% if tyre.brand %}
                                {{ tyre.brand.name }}
                            {% endif %}
                            {% if tyre.width %}
                                {{ tyre.width }}
                            {% endif %}
                            {% if tyre.height %}
                                / {{ tyre.height }}
                            {% endif %}
                            {% if tyre.diameter %}
                                / {{ tyre.diameter }}
                            {% endif %}
                            {% if tyre.model %}
                                {{ tyre.model.name }}
                            {% endif %}
                            <br>
                            {% if tyre.quantity %}
                                Комплект {{ tyre.quantity }} шт.
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-1">
                        {% if tyre.price %}
                            {{ tyre.price }} руб.
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if tyre.company %}
                            {{ tyre.company.name }} {% if tyre.city %} / {{ tyre.city.name }} {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {{ tyre.updatedAt|date('d-m-Y H:i') }}
                        <br>
                        {% if tyre.availability %}
                            {{ tyre.availability.name }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>
        {% endif %}

    </div>

{% endblock %}