{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('build/css/tyre/show_tyre.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/js/appFancybox.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container js-tyre-show-module">

        <div class="row">
            <div class="col-5">
                {% set pictures = tyre.picture|json_decode %}

                <a data-trigger="preview" href="javascript:;" style="max-width: 480px;">
                    <img id="tyre-img" src="/images/{{ pictures[0] }}" width="480" height="500">
                </a>
            </div>
            <div class="col-4">
                <ul class="oglavl">
                    {% if tyre.brand %}
                        <li>
                            <span class="text">Производитель</span>
                            <span class="page">{{ tyre.brand.name }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.model %}
                        <li>
                            <span class="text">Модель</span>
                            <span class="page">{{ tyre.model.name }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.seasonality %}
                        <li>
                            <span class="text">Сезонность</span>
                            <span class="page">{{ tyre.seasonality.name }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.width %}
                        <li>
                            <span class="text">Ширина</span>
                            <span class="page">{{ tyre.width }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.height %}
                        <li>
                            <span class="text">Высота</span>
                            <span class="page">{{ tyre.height }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.diameter %}
                        <li>
                            <span class="text">Диаметор</span>
                            <span class="page">{{ tyre.diameter }}</span>
                        </li>
                    {% endif %}
                    {% if tyre.price %}
                        <li>
                            <span class="text">Цена</span>
                            <span class="page">{{ tyre.price }} руб. за 1 шт.</span>
                        </li>
                    {% endif %}
                    {% if tyre.availability %}
                        <span class="text">{{ tyre.availability.name }}</span>
                    {% endif %}
                </ul>
            </div>
        </div>

        <br>

        <div class="fix-media-cont">
            {% for picture in pictures %}
                <a href="/images/{{ picture }}/1500x1000" data-fancybox="preview" data-width="1500" data-height="1000">
                    <img id="tyre-img" src="/images/{{ picture }}" width="110" height="110">
                </a>
            {% endfor %}
        </div>

        <hr>

        <div>
            <h5>Компания {{ company.name }}</h5>
            {{ company.preview }}
            {#<div>#}
                {#<img id="tyre-img-card" src="/images/{{ company.logotype }}">#}
            {#</div>#}
        </div>

        <br>

        <div>
            <h5>Контактная информация</h5>
            <ul class="list-group list-group-flush">
                {% for phone in company.phones %}
                    <li class="list-group-item"><i class="fa fa-phone mr-3"></i>{{ phone }}</li>
                {% endfor %}
            </ul>
            <ul class="list-group list-group-flush">
                {% for email in company.emails %}
                    <li class="list-group-item"><i class="fa fa-envelope mr-3"></i>{{ email }}</li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <div id="tyres-card">
            <div id="company-map"></div>
            <div class="card-body">
                <p class="card-text" id="company-address-coordinate" data-address="{{ company.address }}" data-coordinate="{{ company.coordinate }}">
                    <h6>г. {{ company.city }}, {{ company.address }}</h6>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script async defer src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCpBhRQ6bMk1Xzx6Ik1b6lqPytOf8XBm1A"></script>#}
    <script async defer src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset('build/js/appMap.js') }}"></script>
    <script src="{{ asset('build/js/appFancybox.js') }}"></script>
{% endblock %}