<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BIMBILO{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

        <a href="{{ path('news_render') }}">Новости</a>
        <a href="{{ path('news_categories_render') }}">Категории новостей</a>
        <a href="{{ path('price_render') }}">ПРАЙСЫ КОМПАНИИ</a>
        <a href="{{ path('parts_render') }}">Запчасти</a>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/layout.js') }}"></script>
        {% endblock %}
    </body>
</html>