<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
            {{ encore_entry_link_tags('css/style') }}

        {% endblock %}
    </head>

<body>
    <div>
        {{ include('_layout/header.html.twig') }}

        <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% block body %}

                <a href="{{ path('country_index') }}">Страна</a>

            {% endblock %}
        </div>

        {{ include('_layout/footer.html.twig') }}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('index') }}

    {% endblock %}
</body>

</html>