{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-3">
            {{ form_row(form.brand, {'id': 'tyres-brand', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.model, {'id': 'tyres-model', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.thorn, {'id': 'tyres-thorn', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.seasonality, {'id': 'tyres-seasonality', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            {{ form_row(form.width, {'id': 'tyres-width', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-1">
            {{ form_row(form.height, {'id': 'tyres-height', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-1">
            {{ form_row(form.diameter, {'id': 'tyres-diameter', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-1">
            {{ form_row(form.quantity, {'id': 'tyres-quantity', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.company, {'id': 'tyres-company', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
        <div class="col-3">
            {{ form_row(form.city, {'id': 'city', 'attr': {'class': 'form-control form-control-sm'}}) }}
        </div>
    </div>

    <div class="btn-group btn-group-toggle">
        {{ form_row(form.availability, {'id': 'tyres-availability'}) }}
    </div>
    <div class="btn-group btn-group-toggle">
        {{ form_row(form.condition, {'id': 'tyres-condition'}) }}
    </div>

    {#<div class="btn-group btn-group-toggle" data-toggle="buttons">#}
        {#<label class="btn btn-secondary active">#}
            {#<input type="radio" name="options" id="option1" autocomplete="off" checked> Active#}
        {#</label>#}
        {#<label class="btn btn-secondary">#}
            {#<input type="radio" name="options" id="option2" autocomplete="off"> Radio#}
        {#</label>#}
        {#<label class="btn btn-secondary">#}
            {#<input type="radio" name="options" id="option3" autocomplete="off"> Radio#}
        {#</label>#}
    {#</div>#}

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
{{ form_end(form) }}