{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-tyres-module">

        {{ include('/tyres/_form.html.twig') }}

        {% if tyres %}
            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>

            <table class="table table-hover">
                <tbody>

                    {% for tyre in tyres %}
                        <tr>
                            <td>
                                {% set pictures = tyre.picture|json_decode %}
                                <img src="{{ pictures[0] }}" width="110" height="110">
                            </td>
                            <td>
                                <a href="{{ path('tyres_show', {'id': tyre.id}) }}" target="_blank">
                                    Шины
                                    {% if tyre.brand %}
                                        {{ tyre.brand.name }}
                                    {% endif %}
                                    {% if tyre.width %}
                                        {{ tyre.width }}
                                    {% endif %}
                                    {% if tyre.height %}
                                        / {{ tyre.height }}
                                    {% endif %}
                                    {% if tyre.diameter %}
                                        / {{ tyre.diameter }}
                                    {% endif %}
                                    {% if tyre.model %}
                                        {{ tyre.model.name }}
                                    {% endif %}
                                    <br>
                                    {% if tyre.quantity %}
                                        Комплект {{ tyre.quantity }} шт.
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                {% if tyre.price %}
                                    {{ tyre.price }} руб.
                                {% endif %}
                            </td>
                            <td>
                                {% if tyre.company %}
                                    {{ tyre.company.name }} {% if tyre.city %} / {{ tyre.city.name }} {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ tyre.updatedAt|date('d-m-Y H:i') }}
                                <br>
                                {{ tyre.availability }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}