{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <span>Шины</span>

    <a href="{{ path('tyres_parse') }}">Импорт CSV</a>

    <div class="container">

        {% if pictures %}
            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for picture in pictures %}
                    <tr>
                        <td><img src="{{ picture.path | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}"></td>
                        <td>
                            Шина {{ picture.tyres.width }}/{{ picture.tyres.height }} {{ picture.tyres.manufacturers.name }}
                            {#{{ picture.tyres.diameter }}#}
                            {#{{ picture.tyres.count }}#}
                            {#{{ picture.tyres.thorns.name }}#}
                        </td>
                        <td>
                            {% for vandor in picture.tyres.vendors %}
                                {{ vandor.name }}
                            {% endfor %}
                        </td>
                        <td>{{ picture.tyres.updatedAt|date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#{{ dump(pictures) }}#}

            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>
        {% endif %}

    </div>





{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}