{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <span>Шины</span>

    <a href="{{ path('tyres_parse') }}">Импорт CSV</a>

    <div class="container">

        {{ include('/tyres/tyres_form.html.twig') }}

        {% if pictures %}
            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for picture in pictures %}
                        <tr>
                            <td>
                                <img src="#" width="110" height="110">
                            </td>
                            <td>
                                Шины
                                {% if picture.tyres.brands %}
                                    {{ picture.tyres.brands.name }}
                                {% endif %}
                                {% if picture.tyres.width %}
                                    {{ picture.tyres.width }}
                                {% endif %}
                                {% if picture.tyres.height %}
                                    / {{ picture.tyres.height }}
                                {% endif %}
                                {% if picture.tyres.diameter %}
                                    / {{ picture.tyres.diameter }}
                                {% endif %}
                                {% if picture.tyres.models %}
                                    {{ picture.tyres.models.name }}
                                {% endif %}
                                <br>
                                {% if picture.tyres.quantity %}
                                    Комплект {{ picture.tyres.quantity }} шт.
                                {% endif %}
                            </td>
                            <td>
                                {% if picture.tyres.price %}
                                    {{ picture.tyres.price }} руб.
                                {% endif %}
                            </td>
                            <td>
                                {% for vandor in picture.tyres.vendors %}
                                    {{ vandor.name }}
                                {% endfor %}
                            </td>
                            <td>{{ picture.tyres.updatedAt|date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}