{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container">

        {{ include('/tyres/tyres_form.html.twig') }}

        {% if tyres %}
            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for tyre in tyres %}
                        <tr>
                            <td>
                                <img src="#" width="110" height="110">
                            </td>
                            <td>
                                Шины
                                {% if tyre.brand %}
                                    {{ tyre.brand.name }}
                                {% endif %}
                                {% if tyre.width %}
                                    {{ tyre.width }}
                                {% endif %}
                                {% if tyre.height %}
                                    / {{ tyre.height }}
                                {% endif %}
                                {% if tyre.diameter %}
                                    / {{ tyre.diameter }}
                                {% endif %}
                                {% if tyre.model %}
                                    {{ tyre.model.name }}
                                {% endif %}
                                <br>
                                {% if tyre.quantity %}
                                    Комплект {{ tyre.quantity }} шт.
                                {% endif %}
                            </td>
                            <td>
                                {% if tyre.price %}
                                    {{ tyre.price }} руб.
                                {% endif %}
                            </td>
                            <td>
                                {% if tyre.vendor %}
                                    {{ tyre.vendor.name }}
                                {% endif %}
                            </td>
                            <td>{{ tyre.updatedAt|date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(tyres) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}