{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <span>Шины</span>

    <a href="{{ path('tyres_parse') }}">Импорт CSV</a>

    <div class="container">

        {{ include('/tyres/tyres_form.html.twig') }}

        {% if pictures %}
            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for picture in pictures %}
                        <tr>
                            <td>
                                <img src="#" width="110" height="110">
                            </td>
                            <td>
                                Шины
                                {#{% if picture.tyres.brand %}#}
                                    {#{{ picture.tyres.manufacturers.name }}#}
                                {#{% endif %}#}
                                {% if picture.tyres.widths %}
                                    {{ picture.tyres.widths.name }}
                                {% endif %}
                                {% if picture.tyres.heights %}
                                    / {{ picture.tyres.heights.name }}
                                {% endif %}
                                {% if picture.tyres.diameters %}
                                    / {{ picture.tyres.diameters.name }}
                                {% endif %}
                                <br>
                                {% if picture.tyres.counts %}
                                    Комплект {{ picture.tyres.counts.name }} шт.
                                {% endif %}
                                {#{% if picture.tyres.manufacturers.model %}#}
                                    {#Комплект {{ picture.tyres.counts.name }} шт.#}
                                {#{% endif %}#}

                                {#{{ dump(picture.tyres.manufacturers.model) }}#}

                                {#{{ picture.tyres.thorns.name }}#}
                            </td>
                            <td>
                                {% if picture.tyres.price %}
                                    {{ picture.tyres.price }} руб.
                                {% endif %}
                            </td>
                            <td>
                                {% for vandor in picture.tyres.vendors %}
                                    {{ vandor.name }}
                                {% endfor %}
                            </td>
                            <td>{{ picture.tyres.updatedAt|date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(pictures) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}