{{ form_start(form) }}
    <div class="row">
        <div class="col-4">
            {{ form_row(form.brand, {'id': 'tyres_brands', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.brand) }}
        </div>
        <div class="col-4">
            {{ form_row(form.thorn, {'id': 'tyres_thorns', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.thorn) }}
        </div>
        <div class="col-4">
            {{ form_row(form.seasonality, {'id': 'tyres_seasonalitys', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.seasonality) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.model, {'id': 'tyres_models', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.model) }}
        </div>
        <div class="col-6">
            {{ form_row(form.vendor, {'id': 'tyres_vendors', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.vendor) }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {{ form_row(form.width, {'id': 'tyres_widths', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.width) }}
        </div>
        <div class="col-2">
            {{ form_row(form.height, {'id': 'tyres_heights', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.height) }}
        </div>
        <div class="col-2">
            {{ form_row(form.diameter, {'id': 'tyres_diameters', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.diameter) }}
        </div>
        <div class="col-2">
            {{ form_row(form.quantity, {'id': 'tyres_counts', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.quantity) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
{{ form_end(form) }}