{{ form_start(form) }}
    <div class="row">
        <div class="col-4">
            {{ form_row(form.brands, {'id': 'tyres_brands', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.brands) }}
        </div>
        <div class="col-4">
            {{ form_row(form.thorns, {'id': 'tyres_thorns', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.thorns) }}
        </div>
        <div class="col-4">
            {{ form_row(form.seasonalitys, {'id': 'tyres_seasonalitys', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.seasonalitys) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.models, {'id': 'tyres_models', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.models) }}
        </div>
        <div class="col-6">
            {{ form_row(form.vendors, {'id': 'tyres_vendors', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.vendors) }}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {{ form_row(form.width, {'id': 'tyres_widths', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.width) }}
        </div>
        <div class="col-2">
            {{ form_row(form.height, {'id': 'tyres_heights', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.height) }}
        </div>
        <div class="col-2">
            {{ form_row(form.diameter, {'id': 'tyres_diameters', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.diameter) }}
        </div>
        <div class="col-2">
            {{ form_row(form.quantity, {'id': 'tyres_counts', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.quantity) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
{{ form_end(form) }}