{% extends 'layout.html.twig' %}

{% block auth_user_content %}

<div>

    {#<a href="{{ path('news_add') }}">Добавить новсти</a>#}

    <div class="navigator">
        {{ knp_pagination_render(news) }}
    </div>

    <div class="container js-news-module">

        <table class="tbl">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>{{ knp_pagination_sortable(news, 'Id', 'news.id', {'direction': 'desc'}) }}</th>
                    <th>&nbsp</th>
                    <th>{{ knp_pagination_sortable(news, 'название', 'news.name') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'title', 'news.title') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'url', 'news.url') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'дата', 'news.createdAt') }}</th>
                    <th>тип новости</th>
                    <th>компания</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for item in news %}
                    <tr>
                        {# Блок редактирования #}
                        <td>
                            <div class="content">
                                <button class="show_popup" rel="popup_{{ item.id }}">Редактировать</button>
                            </div>

                            <div class="popup" id="popup_{{ item.id }}">
                                <div class="object">
                                    {{ include('/administration/news_form.html.twig') }}
                                </div>
                            </div>
                        </td>
                        {# ---------------------- #}
                        <td>{{ item.id }}</td>
                        <td></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.createdAt|date('Y-m-d') }}</td>
                        <td>{{ item.typeNews }}</td>
                        <td>{{ item.company }}</td>
                        <td><a href="{{ path('news_delete', {'id': item.id}) }}">Показать на главной</a></td>
                        <td><a href="#" class="js-news-display" data-id="{{ item.id }}"><span class="fa fa-trash"></span></a></td>
                        <td><a href="{{ path('news_delete', {'id': item.id}) }}">Удалить</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <div>

    <div class="navigator">
        {{ knp_pagination_render(news) }}
    </div>

</div>

{% block javascripts %}
    {{ parent() }}


    <script src="{{ asset('build/app.js') }}"></script>

    {#<script>#}
        {#$('.show_popup').click(function() {#}
            {#var popup_id = $('#' + $(this).attr("rel"));#}
            {#$(popup_id).show();#}
            {#$('.overlay_popup').show();#}
        {#});#}
        {#$('.overlay_popup').click(function() {#}
            {#$('.overlay_popup, .popup').hide();#}
        {#})#}
    {#</script>#}
{% endblock %}

{% endblock auth_user_content %}