{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-news-module">

        <div class="navigator">
            {{ knp_pagination_render(news) }}
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ knp_pagination_sortable(news, 'Id', 'news.id', {'direction': 'desc'}) }}</th>
                    <th>&nbsp</th>
                    <th>{{ knp_pagination_sortable(news, 'название', 'news.name') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'title', 'news.title') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'url', 'news.url') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'дата', 'news.createdAt') }}</th>
                    <th>тип новости</th>
                    <th>компания</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for item in news %}
                    <tr>
                        <td>
                            <a class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                                <span class="fa fa-edit"></span>
                            </a>
                            {{ include('/administration/news_form.html.twig') }}
                        </td>
                        <td>{{ item.id }}</td>
                        <td></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.createdAt|date('Y-m-d') }}</td>
                        <td>{{ item.typeNews }}</td>
                        <td>{{ item.company }}</td>
                        <td><a href="#">Показать на главной</a></td>
                        <td><a href="#" class="js-news-display" data-id="{{ item.id }}">Показать</a></td>
                        <td><a href="{{ path('news_delete', {'id': item.id}) }}"><span class="fa fa-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigator">
            {{ knp_pagination_render(news) }}
        </div>

    <div>

{% block javascripts %}
    {{ parent() }}


    <script src="{{ asset('build/app.js') }}"></script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Кнопка, что спровоцировало модальное окно
            var recipient = button.data('whatever'); // Извлечение информации из данных-* атрибутов
            var modal = $(this);
            modal.find('.modal-title').text('New message to ' + recipient);
            modal.find('.modal-body input').val(recipient)
        })
    </script>

{% endblock %}

{% endblock auth_user_content %}