{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-news-module">

        <div class="navigator">
            {{ knp_pagination_render(news) }}
        </div>

        <a class="btn" data-toggle="modal" data-target="#exampleModal">
            <span class="fa fa-edit">Добавить новость</span>
        </a>

        {{ include('/administration/news_add_form.html.twig') }}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ knp_pagination_sortable(news, 'Id', 'news.id', {'direction': 'desc'}) }}</th>
                    <th>&nbsp</th>
                    <th>{{ knp_pagination_sortable(news, 'название', 'news.name') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'title', 'news.title') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'url', 'news.url') }}</th>
                    <th>{{ knp_pagination_sortable(news, 'дата', 'news.createdAt') }}</th>
                    <th>тип новости</th>
                    <th>компания</th>
                    <th>показать на главной</th>
                    <th>показать</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for item in news %}
                    <tr>
                        <td>
                            <a class="btn" data-toggle="modal" data-target="#exampleModal">
                                <span class="fa fa-edit"></span>
                            </a>
                            {{ include('/administration/news_form.html.twig') }}
                        </td>
                        <td>{{ item.id }}</td>
                        <td></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.createdAt|date('Y-m-d') }}</td>
                        <td>{{ item.typeNews }}</td>
                        <td>{{ item.idCompany }}</td>
                        <td>
                            <a href="#" class="js-news-display-on-main" data-id="{{ item.id }}">
                                {% if item.displayOnMain == 1 %}
                                    <span class="fa fa-bell"></span>
                                {% else %}
                                    <span class="fa fa-bell-slash"></span>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="#" class="js-news-display" data-id="{{ item.id }}">
                                {% if item.display == 1 %}
                                    <span class="fa fa-bell"></span>
                                {% else %}
                                    <span class="fa fa-bell-slash"></span>
                                {% endif %}
                            </a>
                        </td>
                        <td><a href="{{ path('news_delete', {'id': item.id}) }}"><span class="fa fa-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigator">
            {{ knp_pagination_render(news) }}
        </div>

    <div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}