<div class="bd-example">
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{{ path('news_edit') }}" method="post">
                        <input name="id" type="hidden" value="{{ item.id }}">
                        <input name="uid" type="hidden" value="{{ item.uid }}">
                        <div class="form-group">
                            <label for="name" class="form-control-label">название</label>
                            <input name="name" value="{{ item.name }}" type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="company" class="form-control-label">компания</label>
                            <input name="company" type="text" value="{{ item.idCompany }}" class="form-control" id="company">
                        </div>
                        <div class="form-group">
                            <label for="type_news" class="form-control-label">тип новости</label>
                            <input name="type_news" type="text" value="{{ item.typeNews }}" class="form-control" id="type_news">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox">
                                    <span class="custom-control-description">показывать</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox">
                                    <span class="custom-control-description">показывать на главной</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label"></label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>