{% extends 'layout.html.twig' %}

{% block auth_user_content %}

<div>

    <a href="{{ path('news_add') }}">Добавить новсти</a>

    {{ knp_pagination_render(news) }}

    <table class="tbl">
        <thead>
            <tr>
                <th>Edit</th>
                <th>{{ knp_pagination_sortable(news, 'Id', 'news.id', {'direction': 'desc'}) }}</th>
                <th>&nbsp</th>
                <th>{{ knp_pagination_sortable(news, 'название', 'news.name') }}</th>
                <th>{{ knp_pagination_sortable(news, 'title', 'news.title') }}</th>
                <th>{{ knp_pagination_sortable(news, 'url', 'news.url') }}</th>
                <th>{{ knp_pagination_sortable(news, 'дата', 'news.createdAt') }}</th>
                <th>тип новости</th>
                <th>компания</th>
                <th>&nbsp</th>
                <th>&nbsp</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in news %}
                <tr>
                    <td>
                        <div class="content">
                            <button class="show_popup" rel="popup_{{ item.id }}">Редактировать</button>
                        </div>

                        <div class="popup" id="popup_{{ item.id }}">
                            <div class="object">
                                <form action="{{ path('news_edit') }}" method="post">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>название <input name="name" type="text"></td>
                                            <td>компания <input name="company" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>тип новости <input name="type_news" type="text"></td>
                                            <td>дата <input name="created_at" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>показывать <input name="display" type="checkbox"></td>
                                            <td>показывать на главной <input name="display_on_main" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>текст <textarea></textarea></td>
                                        </tr>
                                        <tr>
                                            <td><input value="Сохранить" type="submit"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td>{{ item.id }}</td>
                    <td></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.url }}</td>
                    <td>{{ item.createdAt|date('Y-m-d') }}</td>
                    <td>{{ item.typeNews }}</td>
                    <td>{{ item.company }}</td>
                    <td><a href="{{ path('news_delete', {'id': item.id}) }}">Показать на главной</a></td>
                    <td><a href="{{ path('news_delete', {'id': item.id}) }}">Показать</a></td>
                    <td><a href="{{ path('news_delete', {'id': item.id}) }}">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(news) }}

</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
        $('.show_popup').click(function() {
            var popup_id = $('#' + $(this).attr("rel"));
            $(popup_id).show();
            $('.overlay_popup').show();
        });
        $('.overlay_popup').click(function() {
            $('.overlay_popup, .popup').hide();
        })
    </script>
{% endblock %}

{% endblock auth_user_content %}