{% extends 'layout.html.twig' %}

{% block auth_user_content %}


    <div class="container">

        {{ form_start(form) }}

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.brands, {'id': 'drives_brands', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.models, {'id': 'drives_models', 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.diameter, {'id': 'drives_diameter', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.departure, {'id': 'drives_departure', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.width, {'id': 'drives_width', 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock auth_user_content %}