{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-parts-module">

        {{ include('/parts/_form.html.twig') }}

        {% if parts %}
            <div class="navigator">
                {{ knp_pagination_render(parts) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Название / OEM</th>
                        <th>Расп. / Двиг. / Куз.</th>
                        <th>Продавец / Город</th>
                        <th>Цена</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts %}
                        <tr>
                            <td>
                                <img src="#" width="110" height="110">
                            </td>
                            <td>
                                {% if part.name %}
                                    {{ part.name }}
                                {% endif %}
                                {% if part.brands %}
                                    {% for brand in part.brands %}
                                        {{ brand.name }}
                                    {% endfor %}
                                {% endif %}
                                {% if part.models %}
                                    {% for model in part.models %}
                                        {{ model.name }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if part.engines %}
                                    {% for engine in part.engines %}
                                        {{ engine.name }} {% if part.engines|last != engine %} , {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if part.carcases %}
                                    {% for carcase in part.carcases %}
                                        {{ carcase.name }} {% if part.carcases|last != carcase %} , {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {#{% if part.vendor %}#}
                                    {#{{ part.vendor.name }} / {{ part.city.name }}#}
                                {#{% endif %}#}
                            </td>
                            <td>
                                {#{% if part.price %}#}
                                    {#{{ part.price }} руб.#}
                                {#{% endif %}#}
                            </td>
                            <td>
                                {{ part.updatedAt|date }}
                            </td>
                        </tr>
                    {% endfor %}

                    {#{% for oem in oems %}#}
                        {#<tr>#}
                            {#<td>#}
                                {#{{ oem.parts.name }}  / {{ oem.name }} на#}
                                {#{% for brand in oem.parts.brands %}#}
                                    {#{{ brand }}#}
                                {#{% endfor %}#}
                            {#</td>#}
                            {#<td>#}
                                {#{% for engine in oem.parts.engines %}#}
                                    {#<span class="text-success"> {{ engine }} </span>#}
                                {#{% endfor %}#}
                                {#/#}
                                {#{% for carcase in oem.parts.carcases %}#}
                                    {#{{ carcase }}#}
                                {#{% endfor %}#}
                            {#</td>#}
                            {#<td>#}
                                {#{{ oem.vendors.name }} / {{ oem.citys.name }}#}
                            {#</td>#}
                            {#<td>#}
                                {#{{ random(1500) }} руб.#}
                            {#</td>#}
                            {#<td>#}
                                {#{{ oem.updatedAt|date }}#}
                            {#</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(parts) }}
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}