{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="container js-parts-module">

        {{ include('/parts/parts_form.html.twig') }}

        {% if oems %}
            <div class="navigator">
                {{ knp_pagination_render(oems) }}
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название / OEM</th>
                        <th>Расп. / Двиг. / Куз.</th>
                        <th>Продавец / Город</th>
                        <th>Цена</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oem in oems %}
                        <tr>
                            <td>
                                {{ oem.parts.name }}  / {{ oem.name }} на
                                {% for brand in oem.parts.brands %}
                                    {{ brand }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for engine in oem.parts.engines %}
                                    <span class="text-success"> {{ engine }} </span>
                                {% endfor %}
                                /
                                {% for carcase in oem.parts.carcases %}
                                    {{ carcase }}
                                {% endfor %}
                            </td>
                            <td>
                                {{ oem.vendors.name }} / {{ oem.citys.name }}
                            </td>
                            <td>
                                {{ random(1500) }} руб.
                            </td>
                            <td>
                                {{ oem.updatedAt|date }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigator">
                {{ knp_pagination_render(oems) }}
            </div>
        {% endif %}

    </div>

{% endblock auth_user_content %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}